/* Your code here */
.wgs

/*(short for "whackable game space")*/
  {
  position: relative;
  height: 482px;
  width: 640px;
}

.wgs__mole-head {
  position: absolute;
  height: 356px;
  width: 376px;
  left: 109px
}

.wgs__dirt-pile {
  position: absolute;
  height: 220px;
  width: 640px;
  top: 262px;
}


/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
/* .sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645DED;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
} */

/* .sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
} */

/* .sb__score-holder {
  flex: 1 0 0;
} */

/* .sb__game-over--hidden {
  display: none;
} */
